#scoreBoard{
	font-size: 26px;
	text-align: center;
}
#playArea{
	background:#ddf0a8;
}
.column{
	float: left;
}
.snake{
	background: red;
}
.rodent{
	white-space:nowrap;
	background: #cccccc;
	text-align: center;
	border-radius: 26px;
}
.snake .rodent{
	background: red;
}
.head{
	text-align: center;
	border-radius: 26px;
}